.scroll-container {
    display: flex;
    gap: 2.5rem;
    animation: scrollLeft 30s linear infinite;
  }
  
  .scroll-container.reverse {
    animation: scrollRight 30s linear infinite;
  }
  
  .group:hover .scroll-container {
    animation-play-state: paused;
  }
  
  @keyframes scrollLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scrollRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  