@import "tailwindcss";
@plugin "@iconify/tailwind4";

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@utility font-jakarta {
  font-family: var(--font-jakarta);
}

/* Plus Jakarta Sans Extra Light 200 Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/PlusJakartaSans-ExtraLight.ttf') format('truetype');
}

/* Plus Jakarta Sans Extra Light 200 Italic */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
}

/* Plus Jakarta Sans Light 300 Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/PlusJakartaSans-Light.ttf') format('truetype');
}

/* Plus Jakarta Sans Light 300 Italic */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/PlusJakartaSans-LightItalic.ttf') format('truetype');
}

/* Plus Jakarta Sans Regular 400 Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
}

/* Plus Jakarta Sans Regular 400 Italic */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/PlusJakartaSans-Italic.ttf') format('truetype');
}

/* Plus Jakarta Sans Medium 500 Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
}

/* Plus Jakarta Sans Medium 500 Italic */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/PlusJakartaSans-MediumItalic.ttf') format('truetype');
}

/* Plus Jakarta Sans Semi-Bold 600 Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
}

/* Plus Jakarta Sans Semi-Bold 600 Italic */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
}

/* Plus Jakarta Sans Bold 700 Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
}

/* Plus Jakarta Sans Bold 700 Italic */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/PlusJakartaSans-BoldItalic.ttf') format('truetype');
}

/* Plus Jakarta Sans Extra Bold 800 Normal */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}

/* Plus Jakarta Sans Extra Bold 800 Italic */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/PlusJakartaSans-ExtraBoldItalic.ttf') format('truetype');
}
